<section id="game">
    <div class="jumbotron text-center">
        <h2 class="page-title">Slingshot Sports Association of Maharashtra</h2>
    </div>

    <div class="container wrapper">
        <div class="row mt-5">
            <div class="col-sm-6 text-center">
                <img class="sling-img shadow rounded" src="./assets/images/slingshot2.jpg" alt="">
            </div>
            <div class="col-sm-6 game-info pt-5">
                <h4>Slingshot</h4>
                <p class="text-justify mt-4">In INDIA, We are playing this game from our childhood. We have enjoyed lots of moment with this game to hit the target. Now lets make this game as our sports. We provide the opportunity to compete the people with this game, and achieve
                    some position in this game under the <strong>"</strong>Slingshot Sports Association of Maharashtra, India<strong>"</strong>. Please read the rules for this game before you start.</p>
            </div>
        </div>
    </div>

    <div class="category mt-5 wrapper bg-offwhite">
        <h3 class="text-center">Categories of Slingshot</h3>
        <div class="row mt-4 cat-cards justify-content-center">
            <div class="col-sm-2 col-xs-3 mt-2">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Category 1</h5>
                        <h5 class="card-title"><strong>Sub-Junior</strong></h5>
                        <div>
                            <span>10 Feet</span>
                            <p>(Under 10Yr Age)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6 mt-2">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Category 2</h5>
                        <h5 class="card-title"><strong>Teenager</strong></h5>
                        <div>
                            <span>15 Feet</span>
                            <p>(10Yr - 14Yr Age)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6 mt-2">
                <div class="card  text-center">
                    <div class="card-body ">
                        <h5 class="card-title">Category 3</h5>
                        <h5 class="card-title"><strong>Junior</strong></h5>
                        <div>
                            <span>20 Feet</span>
                            <p>(15Yr - 18Yr Age)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6 mt-2">
                <div class="card  text-center">
                    <div class="card-body">
                        <h5 class="card-title">Category 4</h5>
                        <h5 class="card-title"><strong>Senior</strong></h5>
                        <div>
                            <span>30 Feet</span>
                            <p>(18Yr Age)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6 mt-2">
                <div class="card  text-center">
                    <div class="card-body">
                        <h5 class="card-title">Category 5</h5>
                        <h5 class="card-title"><strong>Master</strong></h5>
                        <div>
                            <span>30 Feet</span>
                            <p>(35Yr Age)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container wrapper">
        <div class="rules mt-5">
            <h3 class="text-center">Rules of Game</h3>
            <div class="row mt-4">
                <div class="col-sm-4 mt-2">
                    <img class="img rounded" src="./assets/images/rule3.png" alt="">
                </div>
                <div class="col-sm-4 mt-2">
                    <img class="img rounded" src="./assets/images/rule1.png" alt="">
                </div>
                <div class="col-sm-4 mt-2">
                    <img class="img rounded" src="./assets/images/rule2.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="p-5 mt-5 bg-offwhite">
        <h3 class="text-center">Equipments of Slingshot</h3>
        <div class="row">

        </div>
    </div>
</section>