<section id="affiliation-sec">
    <div class="container">
        <div class="head-sec text-center">
            <h2>Affiliated Districts</h2>
            <p class="text-muted">Some districts are not affiliated yet, for affiliation please contact.</p>
            <div class="d-flex justify-content-center search-sec h-100">
                <div class="searchbar">
                    <input class="search_input" type="text" name="" placeholder="Search...">
                    <a class="search_icon"><i class="fa fa-search"></i></a>
                </div>
            </div>
        </div>

        <div class="row dist-sec mt-3">
            <div class="col-sm-4" *ngFor="let item of list">
                <div class="card mt-3 text-white bg-dark">
                    <div class="card-body text-center">
                        <h4 class="card-title">Yavatmal</h4>
                        <p class="card-text"> <a href="#" class="action-button">read more</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="dist-info jumbotron mt-5">
            <div class="text-center">
                <h2>Yavatmal</h2>
                <div class="row justify-content-center">
                    <div class="col-sm-4 p-5">
                        <!-- Card Regular -->
                        <div class="card card-cascade">
                            <!-- Card image -->
                            <div class="view view-cascade overlay">
                                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div class="card-body card-body-cascade text-center">
                                <!-- Title -->
                                <h4 class="card-title"><strong>Billy Coleman</strong></h4>
                                <!-- Subtitle -->
                                <h6 class="font-weight-bold indigo-text py-2">Web developer</h6>
                                <!-- Facebook -->
                                <a type="button" class="btn-floating btn-small btn-fb"><i class="fab fa-facebook-f"></i></a>
                                <!-- Twitter -->
                                <a type="button" class="btn-floating btn-small btn-tw"><i class="fab fa-twitter"></i></a>
                                <!-- Google + -->
                                <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fab fa-dribbble"></i></a>
                            </div>
                        </div>
                        <!-- Card Regular -->
                    </div>
                    <div class="col-sm-4 p-5">
                        <!-- Card Regular -->
                        <div class="card card-cascade">
                            <!-- Card image -->
                            <div class="view view-cascade overlay">
                                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div class="card-body card-body-cascade text-center">
                                <!-- Title -->
                                <h4 class="card-title"><strong>Billy Coleman</strong></h4>
                                <!-- Subtitle -->
                                <h6 class="font-weight-bold indigo-text py-2">Web developer</h6>
                                <!-- Facebook -->
                                <a type="button" class="btn-floating btn-small btn-fb"><i class="fab fa-facebook-f"></i></a>
                                <!-- Twitter -->
                                <a type="button" class="btn-floating btn-small btn-tw"><i class="fab fa-twitter"></i></a>
                                <!-- Google + -->
                                <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fab fa-dribbble"></i></a>
                            </div>
                        </div>
                        <!-- Card Regular -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>