<section id="affiliation-sec">
    <div class="container">
        <div class="head-sec text-center">
            <h2>Affiliated Districts</h2>
            <p class="text-muted">Some Districts are not affiliated yet, for affiliation please contact.</p>
            <div class="d-flex justify-content-center search-sec h-100">
                <div class="searchbar">
                    <input class="search_input" type="text" name="" placeholder="Search...">
                    <a class="search_icon"><i class="fa fa-search"></i></a>
                </div>
            </div>
        </div>

        <div class="row dist-sec mt-3">
            <div class="col-sm-4" *ngFor="let item of list">
                <div class="card mt-3 text-white bg-dark">
                    <div class="card-body text-center">
                        <h4 class="card-title">Yavatmal</h4>
                        <p class="card-text"> <a href="#" class="action-button">read more</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="dist-info jumbotron mt-5">
            <div class="text-center">
                <h2>Yavatmal</h2>
            </div>
        </div>

    </div>
</section>