@import "../../../styles.scss";
#refree-panel {
    font-family: "Didact Gothic", sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;
    .badge {
        background-color: $th-color;
    }
}