<section id="association">
    <div class="jumbotron dist-area">
        <h2 class="text-center title">Join Us</h2>
        <h3 class="text-center mt-3 reg-title"><strong>Select District To Register</strong></h3>
        <div class="row justify-content-center mt-4">
            <div class="col-sm-5">
                <select class="form-control" height="50px" (change)="onDistrictChange($event)">
                        <option selected disabled >Select District</option>
                        <option *ngFor="let dist of availableDistricts" value="{{dist.id}}">{{dist.name}}</option>
                </select>
            </div>
        </div>
        <div class="row text-center justify-content-center mt-2">
            <div class="col-sm-2">
                <input type="button" class="btn form-control reg-button" value="Register" height="50px" (click)="registerDistrict()" [disabled]="disabledRegBtn">
            </div>
        </div>
    </div>

    <div class="container form-area mt-5" *ngIf="showForm">
        <h4 class="text-center title">Affiliation For "{{districtName}}" District</h4>
        <form id="regForm" class="mt-4">
            <h2 class="text-center">Registration Form</h2>
            <div class="row mt-5">
                <div class="col-sm-4">
                    <label>First Name</label>
                    <div class="form-group">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>Middle Name</label>
                    <div class="form-group">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>Last Name</label>
                    <div class="form-group">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label>Date of Birth</label>
                    <div class="form-group">
                        <input type="date" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label>Mobile No.</label>
                    <div class="form-group">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>Address Line 1</label>
                    <div class="form-group">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>Address Line 2</label>
                    <div class="form-group">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>City</label>
                    <div class="form-group">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>District</label>
                    <div class="form-group">
                        <select class="form-control">
                            <option value="">Option 1</option>
                            <option value="">Option 2</option>
                            <option value="">Option 3</option>
                            <option value="">Option 4</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>Pin Code</label>
                    <div class="form-group">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label>Aadhaar No.</label>
                    <div class="form-group">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label>PAN No.</label>
                    <div class="form-group">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mt-4 mb-3">
                <div class="col-sm-4">
                    <label>Email</label>
                    <div class="form-group">
                        <input type="email" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>Password</label>
                    <div class="form-group">
                        <input type="password" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>Confirm Password</label>
                    <div class="form-group">
                        <input type="password" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 mt-3">
                    <label for=""><strong>Aadhar Card</strong></label>
                    <input type="file" id="files1" name="files" />
                </div>
                <div class="col-sm-4 mt-3">
                    <label for=""><strong>PAN Card</strong></label>
                    <input type="file" id="files2" name="files" />
                </div>
                <div class="col-sm-4 mt-3">
                    <label for=""><strong>Passport Photo</strong></label>
                    <input type="file" id="files3" name="files" />
                </div>
            </div>
            <div class="mt-5 text-center">
                <input type="button" class="btn act-btn" value="Register" height="50px">
                <input type="button" class="btn act-btn ml-2" value="clear" height="50px">
            </div>
        </form>
    </div>
</section>