<section id="contact-us">
    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h2>CONTACT US</h2>
        </div>
     
        <div class="user-info row justify-content-center">
            <div class="col-sm-3 col-xs-6" *ngFor="let user of users">
                <div class="card card-cascade">
                    <div class="view view-cascade overlay">
                        <div class="img-area mt-5">
                            <img src="./assets/images/user-pic.jpg" alt="">
                        </div>
                    </div>
                    <div class="card-body card-body-cascade text-center">
                        <h4 class="mt-3"><strong>Mr. Lalit Dhoke</strong></h4>
                        <span>(General Secretory)</span>
                        <br>
                        <span>lalit.dhoke@gmail.com</span>
                        <div class="social-icons mt-3">
                            <i class="fa fa-phone" matTooltip="9767986750" matTooltipPosition="above"></i>
                            <i class="fa fa-envelope" matTooltip="example@gmail.com" matTooltipPosition="above"></i>
                            <i class="fa fa-facebook" matTooltip="facebook" matTooltipPosition="above"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-form mt-5 text-center">
            <h2>Get in touch</h2>
        </div>
    </div>
</section>