<section id="login-sec">
    <div class="container">
        <div class="jumbotron mt-5 p-5">
            <div class="login-page">
                <h2 class="text-center">Sign in</h2>
                <div class="row justify-content-center">
                    <div class="col-sm-5 mt-3">
                        <div class="col">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="enter email" height="50px">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="enter password" height="50px">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input type="submit" class="btn form-control" value="Login">
                            </div>
                        </div>
                        <div class="col text-center">
                            <a class="text-muted forgotPass">Forgot Password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>