<section id="login-sec">
    <div class="container">
        <div class="jumbotron mt-5 p-5 shadow">
            <div class="login-page" #loginPage>
                <h2 class="text-center">Sign in</h2>
                <div class="row justify-content-center">
                    <div class="col-sm-5 mt-3">
                        <div class="col">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="enter email" height="50px">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="enter password" height="50px">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input type="button" class="btn form-control" value="Login">
                            </div>
                        </div>
                        <div class="col text-center">
                            <a class="text-muted forgotPass" (click)="forgotPassword()">Forgot Password?</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="forget-pass-page" #forgetPassPage hidden>
                <h2 class="text-center">Forgot Password</h2>
                <div class="row justify-content-center">
                    <div class="col-sm-5 mt-3">
                        <div class="col">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="enter email" height="50px">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="enter password" height="50px">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="confirm password" height="50px">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input type="button" class="btn form-control" value="Reset">
                            </div>
                        </div>
                        <div class="col mt-3 text-center">
                            <span (click)="forgotPassword()" matTooltip="Back"><i class="fa fa-arrow-circle-o-left" style="font-size: 30px;"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>