<section id="approval">
    <div class="container">
        <div class="text-center">
            <h2><strong>Approval Requests</strong></h2>
        </div>
        <div class="row justify-content-end mt-5">
            <div class="col-sm-4 col-xs-12">
                <input type="text" class="form-control" placeholder="Search..." #searchKey (keyup)="filterResult(searchKey.value)">
            </div>
        </div>

        <div class="data-table mt-3 mb-5" style="border:1px solid #00000017;">
            <table mat-table [dataSource]="dataSource" matSort class="table-hover data-table" width="100%">

                <!-- Position Column -->
                <ng-container matColumnDef="index">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef class="bg-dark text-white"> # </th>
                    <td mat-cell *matCellDef="let element; let i = index" width="10%"> {{i+1}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef class="bg-dark text-white"> Name </th>
                    <td mat-cell *matCellDef="let element" width="40%" class="empNameLink pointer text-capitalize">
                        {{element.firstName}} {{element.lastName}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="requestedDistrict.name">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef class="bg-dark text-white"> Requested For </th>
                    <td mat-cell *matCellDef="let element" width="30%" class="text-capitalize"> {{element.requestedDistrict.name}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="bg-dark text-white">Action</th>
                    <td mat-cell *matCellDef="let element" width="20%">
                        <div class="row p-2">
                            <a class="btn text-info pointer" (click)="getPersonInfo(element)">View</a>
                            <a class="btn text-danger pointer" (click)="deleteRequest(element)">Delete</a>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
            </table>
            <mat-paginator [length]="100 " [pageSize]="5 " [pageSizeOptions]="[5, 10, 25, 50] " showFirstLastButtons>
            </mat-paginator>
        </div>

        <div *ngIf="showSpinner">
            <ngx-spinner bdOpacity="0.3" bdColor="#00000030" size="default" color="#581f87" type="ball-pulse-sync" [fullScreen]="true">
            </ngx-spinner>
        </div>
    </div>

</section>