.refree {
    .img-area {
        width: 120px;
        height: 120px;
        margin: auto;
        border: 2px solid #fff;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}
