<div class="refree mt-3">
    <div class="card card-cascade mt-2" *ngFor="let ref of refree">
        <div class="card-body card-body-cascade">
            <div class="row p-3">
                <div class="col-sm-3">
                    <div class="img-area">
                        <img src="./assets/images/user-pic-default.png" alt="">
                    </div>
                </div>
                <div class="col-sm-9">
                    <h5><span class="font-weight-bold">Mr. Akshay Shalikram Shastrakar</span><span class="pull-right text-info font-weight-bold">Yavatmal</span></h5>
                    <span><i class="fa fa-envelope mr-3"></i>akshay.shastrakar1@gmail.com</span> <br>
                    <span><i class="fa fa-phone mr-3"></i>9767986750</span> <br>
                    <span><i class="fa fa-map-marker mr-3"></i>Sargam Society, Lane No. 2, Warje Naka, Pune, Pin Code - 411052.</span> <br>
                </div>
            </div>
        </div>
    </div>
</div>