<section id="events">
    <div class="row justify-content-between">
        <div class="col-6">
            <h2><strong><i class="fa fa-gg-circle mr-2" aria-hidden="true"></i>Events <span class="badge badge-primary">{{eventData.length}}</span></strong></h2>
        </div>
        <div class="col-6">
            <button (click)="createEvent()" class="btn sling-btn pull-right">Create events</button>
        </div>
    </div>
    <div class="data-table mt-3 mb-5 table-responsive" style="border:1px solid #00000017;">
        <table mat-table [dataSource]="dataSource" matSort class="table-hover data-table" width="100%">

            <!-- Position Column -->
            <ng-container matColumnDef="index">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="bg-dark text-white"> # </th>
                <td mat-cell *matCellDef="let element; let i = index" width="10%"> {{i+1}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="eventTitle">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="bg-dark text-white"> Event Title </th>
                <td mat-cell *matCellDef="let element" width="40%" class="empNameLink pointer text-capitalize">
                    {{element.eventTitle}}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="eventDate">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="bg-dark text-white"> Event Date </th>
                <td mat-cell *matCellDef="let element" width="20%" class="text-capitalize">
                    {{element.eventDate | date: 'dd'}}-{{element.eventDate | date:'MMM'}}-{{element.eventDate | date: 'yyyy'}}
             </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="status">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="bg-dark text-white"> Status </th>
                <td mat-cell *matCellDef="let element" width="20%" class="text-capitalize font-weight-bold text-success"
                    [ngClass]="{'text-danger':element.status === 'Inactive'}"> {{element.status}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="actions" class="text-right">
                <th mat-header-cell *matHeaderCellDef class="bg-dark text-white">Action</th>
                <td mat-cell *matCellDef="let element" width="20%">
                    <div class="row p-2">
                        <a class="btn text-info pointer" (click)="editEvent(element)" matTooltip="Edit" matTooltipPosition="above"><i class="fa fa-pencil"></i></a>
                        <a class="btn text-danger pointer" (click)="deleteEventById(element.id)" matTooltip="Delete" matTooltipPosition="above"><i class="fa fa-trash text-danger"></i></a>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
        </table>
        <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50]">
        </mat-paginator>
    </div>
</section>

<div *ngIf="showSpinner">
    <app-spinner></app-spinner>
</div>