<section id="admin" class="bg-offwhite pb-5">
    <div class="mt-5">
        <div class="row justify-content-center">
            <h2><strong>Welcome To Association</strong></h2>
        </div>
        <div class="row actions justify-content-center mt-3 p-3">
            <div class="col-sm-2" *ngFor="let item of menu" [ngClass]="{'active':item.isActive}" (click)="setActiveClass(item)">
                <div class="card mt-3 text-white bg-dark" [routerLink]="item.link">
                    <div class="card-body text-center">
                        <h4 class="card-title">{{item.name}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="mt-5 bg-light pl-3 pr-3">
    <router-outlet></router-outlet>
</div>