<section id="admin">
    <div class="container mt-5">
        <div class="row actions">
            <div class="col-lg-3 col-sm-6">
                <a routerLink="./requests">approval Requests</a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a routerLink="./requests">LInk2</a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a routerLink="./requests">link3</a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a routerLink="./requests">Link4</a>
            </div>
        </div>
        <div class="row mt-5 bg-light">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>