<section id="admin">
    <div class="mt-5">
        <div class="row justify-content-center">
            <h2><strong>Welcome Akshay Shastrakar</strong></h2>
        </div>
        <div class="row actions justify-content-center mt-3">
            <div class="col-sm-2">
                <div class="card mt-3 text-white bg-dark" routerLink="./requests">
                    <div class="card-body text-center">
                        <h4 class="card-title">Requests <span class="badge badge-primary">2</span></h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card mt-3 text-white bg-dark" routerLink="./events">
                    <div class="card-body text-center">
                        <h4 class="card-title">Events</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card mt-3 text-white bg-dark" routerLink="./match">
                    <div class="card-body text-center">
                        <h4 class="card-title">Match Results</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card mt-3 text-white bg-dark" routerLink="./enquiries">
                    <div class="card-body text-center">
                        <h4 class="card-title">Enquiries <span class="badge badge-primary">2</span></h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card mt-3 text-white bg-dark" routerLink="./profile">
                    <div class="card-body text-center">
                        <h4 class="card-title">Profile</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5 bg-light">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>