<div *ngIf="oldAffiliations.length > 0">
  <div class="row justify-content-between">
    <div class="col-10">
      <h2>
        <strong
          ><i class="fa fa-gg-circle mr-2" aria-hidden="true"></i>Old
          Affiliations
          <span class="badge badge-primary"
            >{{oldAffiliations.length}}</span
          ></strong
        >
      </h2>
    </div>
    <div class="col-2 d-hide">
      <input
        type="text"
        class="form-control"
        placeholder="Search..."
        #searchKey
        (keyup)="filterResult(searchKey.value)"
      />
    </div>
  </div>
  <div
    class="data-table mb-5 mt-3 table-responsive"
    style="border: 1px solid #00000017"
  >
    <table
      mat-table
      [dataSource]="dataSource3"
      matSort
      class="table-hover data-table"
      width="100%"
      style="min-width: 1000px"
    >
      <ng-container matColumnDef="index">
        <th
          mat-sort-header
          mat-header-cell
          *matHeaderCellDef
          class="bg-dark text-white"
        >
          #
        </th>
        <td mat-cell *matCellDef="let element; let i = index" width="10%">
          {{element.index}}
        </td>
      </ng-container>

      <ng-container matColumnDef="districtName">
        <th
          mat-sort-header
          mat-header-cell
          *matHeaderCellDef
          class="bg-dark text-white"
        >
          District Name
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          width="20%"
          class="empNameLink pointer text-capitalize"
        >
          {{element.requestedDistrict.name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="member">
        <th
          mat-sort-header
          mat-header-cell
          *matHeaderCellDef
          class="bg-dark text-white"
        >
          Member Name
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          width="25%"
          class="empNameLink pointer text-capitalize"
        >
          {{element.members[0].firstName}} {{element.members[0].middleName}}
          {{element.members[0].lastName}}
        </td>
      </ng-container>

      <ng-container matColumnDef="approvedOn">
        <th
          mat-sort-header
          mat-header-cell
          *matHeaderCellDef
          class="bg-dark text-white"
        >
          Approved On
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          width="20%"
          class="text-capitalize"
        >
          {{element.approvedOn | date: 'dd'}}-{{element.approvedOn |
          date:'MMM'}}-{{element.approvedOn | date: 'yyyy'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th
          mat-sort-header
          mat-header-cell
          *matHeaderCellDef
          class="bg-dark text-white"
        >
          Status
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          width="15%"
          class="text-capitalize text-danger"
        >
          {{element.status}}
        </td>
      </ng-container>

      <ng-container matColumnDef="action" class="pull-right">
        <th mat-header-cell *matHeaderCellDef class="bg-dark text-white">
          Action
        </th>
        <td mat-cell *matCellDef="let element" width="15%">
          <div class="row">
            <a
              class="btn text-info pointer"
              (click)="getRegisteredDistrctInfo(element)"
              matTooltip="View"
              matTooltipPosition="above"
              ><i class="fa fa-pencil"></i
            ></a>
            <a
              class="btn text-danger pointer"
              (click)="deleteAffiliation(element)"
              matTooltip="Delete"
              matTooltipPosition="above"
              ><i class="fa fa-trash text-danger"></i
            ></a>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns3; let i = index"
      ></tr>
    </table>
    <mat-paginator
      #paginator3
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 50]"
    >
    </mat-paginator>
  </div>

  <div *ngIf="showSpinner">
    <app-spinner></app-spinner>
  </div>
</div>
