<div class="alert-notification">
    <mat-dialog-content class="text-center">
        <i class="fa fa-exclamation-triangle"></i>
        <h4 class="text-center mt-3 messege">Your plan for <span class="text-primary">www.slingshotassociation.in</span> will be expired soon. Please renew you domain and database. Contact your application support team.</h4>
    </mat-dialog-content>
    <div class="text-center mt-2">
        <button mat-stroked-button class="btn bg-white" [mat-dialog-close]="true">Close</button>
    </div>
</div>