<section id="footer">
    <div class="row mb-5">
        <div class="col-sm-4">
            <div class="ft-logo">
                <span class="main-title">Slingshot</span><span class="sub-title">Association</span>
            </div>
            <div class="ft-social mt-4">
                <span>SOCIAL CONNECT</span>
                <div class="social-icons mt-3">
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-linkedin"></i>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-instagram"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-5 contact">
            <h3>Contact<span> us</span></h3>
            <div class="info">
                <p><i class="fa fa-map-marker pr-3"></i>Matoshree Niwas, Pimpalgaon, Yavatmal.</p>
                <p><i class="fa fa-phone pr-3"></i>8180008641, 9511663616, 8432146555</p>
                <p><i class="fa fa-envelope pr-3"></i>slingshot.maha@gmail.com</p>
            </div>
        </div>
        <div class="col-sm-3 subscribe">
            <h3>Subscribe<span> us</span></h3>
            <div class="sub">
                <input type="email" name="email" class="form-control" placeholder="Enter email" required>
                <input type="button" class="btn btn-block action-button" name="Subscribe" value="Subscribe">
            </div>
        </div>
    </div>

    <div class="ft-credit">
        <hr class="hr">
        <p class="text-center">Slingshot Association <span class="ml-2 mr-2">|</span>akshay.shastrakar1@gmail.com</p>
    </div>
</section>