<footer class="footer-distributed">
  <div class="footer-left">
    <span _ngcontent-thu-c1="" class="navbar-title ml-2">
      <span _ngcontent-thu-c1="" class="main-title">Slingshot</span>
      <span _ngcontent-thu-c1="" class="sub-title">Association</span>
    </span>
    <br>
    <p class="footer-company-about" style="text-align-last:inherit ;">
      <br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.Facere,veniam<br> provident beatae,
      exercitationem voluptatem qui nesciunt harum<br> autem modi hic atque placeat nisi distinctio
      laborum quae soluta.
    </p>
    <p class="footer-company-about">
      <br>
      <span>SOCIAL CONNECT</span>
    </p>
    <div class="footer-icons">
      <span class="fa fa-twitter">t</span>
      <span class="fa fa-linkedin">in</span>
      <span class="fa fa-facebook">f</span>
      <span class="fa fa-youtube">y</span>
    </div>
  </div>
  <div class="footer-center">
    <h3>Contact<span> us</span></h3>
    <br>
    <!-- Grid column -->
    <div class="footer-company-about footer-icons-center">
      <span class="fa fa-map-marker-alt" aria-hidden="true"></span>
      <span>Flat No.81,Pandurang Krupa, Sargam Society, Karve Nagar,Pune,Maharashtra,India.</span>
    </div>
    <div class="footer-company-about footer-icons-center">
      <span class="fa fa-phone-square" aria-hidden="true"></span>
      <span>+91 - 9767986750</span>
    </div>
    <div class="footer-company-about footer-icons-center">
      <span class="fa fa-envelope" aria-hidden="true"></span>
      <a href="mailto:support@ssassociation.com"><span>support@ssassociation.com</span></a>
    </div>
    <!-- Grid column -->
  </div>
  <div class="footer-right">
    <h3>Subscribe</h3>
    <br>
    <div>
      <input type="email" name="email" class="form-control" placeholder="Enter email" required> <span>
      <input type="button" class="btn btn-block btn-subscribe action-button" name="Subscribe" value="Subscribe"></span>
    </div>
  </div>
  <br>
  <hr style="background-color: white;">
  <p class="text-center mr-3" style="color: white;">&copy;2020. All Rights Reserved.</p>
</footer>