@import "../../../styles.scss";
#match {
    font-family: "Didact Gothic", sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;
    .badge {
        background-color: $th-color;
    }
}

#dialog {
    font-family: "Didact Gothic", sans-serif;
    .mat-dialog-container {
        margin-top: 100px !important;
    }
    .w-box {
        width: 50px;
        height: 50px;
      }
}