<section id="dialog">
  <h3 class="text-center bg-dark text-white p-3 text-capitalize dialog-header">Referee Info</h3>
  <mat-dialog-content>
    <div class="row justify-content-center">
      <div class="col-sm-12">
        <div class="card card-cascade">
          <div class="view view-cascade overlay">
            <div class="img-area mt-5">
              <img [src]="documentUrl" alt="" />
            </div>
          </div>
          <div class="card-body card-body-cascade">
            <div class="text-center">
              <h4 class="mt-3 member-name text-capitalize">
                <strong>
                  <span *ngIf="referee.gender === 'Male'">Mr.</span>
                  <span *ngIf="referee.gender === 'Female'">Miss.</span>
                  {{referee.firstName}} {{referee.middleName}} {{referee.lastName}}</strong
                >
              </h4>
              <span class="text-info font-weight-bold">({{referee.mobile}})</span>
              <br />
              <span class="text-lowercase"><i class="fa fa-envelope mr-2"></i> {{referee.email}}</span>
            </div>
            <hr />
            <div class="info dialog-info mt-3 ml-3 mr-3 text-center">
              <p class="text-capitalize">
                <i class="fa fa-map-marker mr-2"></i>
                <span class="font-weight-bold">Address</span>
                <br />
                {{referee.address}}, {{referee.city}}, {{referee.district}}, Pin Code - {{referee.pin}}
              </p>
              <p>
                <span class="font-weight-bold">Date Of Birth</span>
                <br />
                {{referee.dateOfBirth | date: 'dd'}} {{referee.dateOfBirth | date: 'MMM'}} {{referee.dateOfBirth | date:
                'yyyy'}}
              </p>
              <p>
                <span class="font-weight-bold">Aadhaar No</span>
                <br />{{referee.aadhaarNo}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions class="row justify-content-center">
    <button mat-stroked-button (click)="close()">Close</button>
  </div>
</section>
