#committee {
    font-family: "Didact Gothic", sans-serif;
    margin-top: 80px;
    .jumbotron {
        background-color: #212325 !important;
        color: #fff;
        border-radius: 0em;
      }
}