<section id="committee">
    <div class="jumbotron text-center">
        <h2 class="page-title">Slingshot Sports Association Members of Maharashtra</h2>
    </div>
    <div class="container mb-5">
        <div class="mt-5">
            <h5 class="font-weight-bold"><i class="fa fa-gg-circle mr-2" aria-hidden="true"></i>Affiliation Members</h5>
            <table class="table table-bordered mt-3">
                <tr *ngFor="let member of committee.AFFILIATION_COMMITTEE; let i = index;" class="bg-white">
                    <td width="10%">{{ i+1 }}</td>
                    <td width="50%" class="text-capitalize">
                        <div style="display: flex;">
                            <i class="fa fa-user-circle mr-2 mt-1"></i>
                            {{member.name}}
                        </div>
                    </td>
                    <td width="40%" class="text-center">{{member.mobile}}</td>
                </tr>
            </table>
        </div>
        <div class="mt-5">
            <h5 class="font-weight-bold"><i class="fa fa-gg-circle mr-2" aria-hidden="true"></i>Tournament Technical
                commmitee</h5>
            <table class="table table-bordered mt-3">
                <tr *ngFor="let member of committee.TOURNAMENT_TECHNICAL_COMMITTEE; let i = index;" class="bg-white">
                    <td width="10%">{{ i+1 }}</td>
                    <td width="50%" class="text-capitalize">
                        <div style="display: flex;">
                            <i class="fa fa-user-circle mr-2 mt-1"></i>
                            {{member.name}}
                        </div>
                    </td>
                    <td width="40%" class="text-center">{{member.mobile}}</td>
                </tr>
            </table>
        </div>
        <div class="mt-5">
            <h5 class="font-weight-bold"><i class="fa fa-gg-circle mr-2" aria-hidden="true"></i>Tournament Organizer
                committee</h5>
            <table class="table table-bordered mt-3">
                <tr *ngFor="let member of committee.TOURNAMENT_ORGANIZER_COMMITTEE; let i = index;" class="bg-white">
                    <td width="10%">{{ i+1 }}</td>
                    <td width="50%" class="text-capitalize">
                        <div style="display: flex;">
                            <i class="fa fa-user-circle mr-2 mt-1"></i>
                            {{member.name}}
                        </div>
                    </td>
                    <td width="40%" class="text-center">{{member.mobile}}</td>
                </tr>
            </table>
        </div>
        <div class="mt-5">
            <h5 class="font-weight-bold"><i class="fa fa-gg-circle mr-2" aria-hidden="true"></i>Selection Committee</h5>
            <table class="table table-bordered mt-3">
                <tr *ngFor="let member of committee.SELECTION_COMMITTEE; let i = index;" class="bg-white">
                    <td width="10%">{{ i+1 }}</td>
                    <td width="50%" class="text-capitalize">
                        <div style="display: flex;">
                            <i class="fa fa-user-circle mr-2 mt-1"></i>
                            {{member.name}}
                        </div>
                    </td>
                    <td width="40%" class="text-center">{{member.mobile}}</td>
                </tr>
            </table>
        </div>
        <div class="mt-5" *ngIf="referees.length > 0">
            <h5 class="font-weight-bold"><i class="fa fa-gg-circle mr-2" aria-hidden="true"></i>Official Referee</h5>
            <table class="table table-bordered mt-3 referee-table">
                <tr *ngFor="let referee of referees; let i = index;" class="bg-white">
                    <td width="10%">{{ i+1 }}</td>
                    <td width="50%" class="referee-name text-capitalize pointer" (click)="getRefereeInfo(referee)">
                        <div style="display: flex;">
                            <i class="fa fa-user-circle mr-2 mt-1"></i>
                            <span>
                                <span *ngIf="referee.gender === 'Male'">Mr.</span>
                                <span *ngIf="referee.gender === 'Female'">Miss.</span>
                                {{referee.firstName}} {{referee.middleName}} {{referee.lastName}}
                            </span>
                        </div>
                    </td>
                    <td width="25%" class="text-center">{{referee.mobile}}</td>
                    <td width="15%" class="text-center text-info pointer" (click)="getRefereeInfo(referee)">view</td>
                </tr>
            </table>
        </div>
    </div>
</section>

<div *ngIf="showSpinner">
    <app-spinner></app-spinner>
</div>