.home {
    min-width: 786px;
}

.action-button {
    display: inline-block;
    padding: 13px 47px;
    background-color: #ff8b23;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-bottom: 4px solid #fdcb9e;
    margin-top: 10px;
    text-decoration: none;
}

.banner-area {
    .carousel-item {
        background: no-repeat center center scroll;
        background-size: cover;
        -webkit-background-size: cover;
    }
    .carousel-caption:hover {
        background-color: #0000009c;
    }
    .carousel-caption {
        bottom: 35%;
        background-color: #2423236e;
        padding: 30px;
        h5 {
            font-size: 45px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
    .carousel-indicators {
        .active {
            background-color: #ff8b23;
        }
    }
}

.register-area {
    .reg-panel {
        border-top: solid 1px #FFFFFF;
        border-bottom: solid 1px #FFFFFF;
        padding-top: 64px;
        padding-bottom: 56px;
    }
    .reg_text {
        font-weight: 400;
        line-height: 1.2;
        font-size: 34px;
        font-family: 'Righteous', cursive;
    }
    .action-button {
        font-size: 18px;
    }
    .img-area {
        width: 130px;
        height: 130px;
        margin: auto;
        border: 2px solid #fff;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}