<section class="dialog">
    <h3 class="text-center bg-dark text-white p-3 text-capitalize dialog-header">Add Member</h3>
    <mat-dialog-content>
        <form class="mt-4" [formGroup]="registerForm">
            <div class="row mt-5">
                <div class="col-sm-4">
                    <label class="font-weight-bold">First Name</label>
                    <div class="form-group">
                        <input type="text" class="form-control text-capitalize" formControlName="firstName"
                            [ngClass]="{'is-invalid':registerForm.get('firstName').touched && registerForm.get('firstName').invalid}">
                        <span class="invalid-feedback alert alert-danger">
                            Field is required
                        </span>
                    </div>

                </div>
                <div class="col-sm-4">
                    <label class="font-weight-bold">Middle Name</label>
                    <div class="form-group">
                        <input type="text" class="form-control text-capitalize" formControlName="middleName"
                            [ngClass]="{'is-invalid':registerForm.get('middleName').touched && registerForm.get('middleName').invalid}">
                        <span class="invalid-feedback alert alert-danger">
                            Field is required
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="font-weight-bold">Last Name</label>
                    <div class="form-group">
                        <input type="text" class="form-control text-capitalize" formControlName="lastName"
                            [ngClass]="{'is-invalid':registerForm.get('lastName').touched && registerForm.get('lastName').invalid}">
                        <span class="invalid-feedback alert alert-danger">
                            Field is required
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="font-weight-bold">Email</label>
                    <div class="form-group">
                        <input type="email" class="form-control" formControlName="email"
                            [ngClass]="{'is-invalid':registerForm.get('email').touched && registerForm.get('email').invalid}">
                        <span class="invalid-feedback alert alert-danger">
                            <span *ngIf="registerForm.get('email').errors?.required">Field is required</span>
                            <span
                                *ngIf="registerForm.get('email').invalid && !registerForm.get('email').errors?.required">
                                Invalid email.</span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="font-weight-bold">Mobile No.</label>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="mobile" maxlength="10"
                            [ngClass]="{'is-invalid':registerForm.get('mobile').touched && registerForm.get('mobile').invalid}">
                        <span class="invalid-feedback alert alert-danger">
                            <span *ngIf="registerForm.get('mobile').errors?.required">Field is required</span>
                            <span
                                *ngIf="registerForm.get('mobile').invalid && !registerForm.get('mobile').errors?.required">
                                Invalid Mobile Number</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="font-weight-bold">Gender</label>
                    <div class="form-group">
                        <select class="form-control" formControlName="gender"
                            [ngClass]="{'is-invalid':registerForm.get('gender').touched && registerForm.get('gender').invalid}">
                            <option selected disabled value="">Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                        <span class="invalid-feedback alert alert-danger">
                            Field is required
                        </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="font-weight-bold">Date of Birth</label>
                    <div class="form-group">
                        <input type="date" class="form-control" formControlName="dateOfBirth"
                            [ngClass]="{'is-invalid':registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').invalid}"
                            max="Date.now()">
                        <span class="invalid-feedback alert alert-danger">
                            Field is required
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label class="font-weight-bold">Address Line 1</label>
                    <div class="form-group">
                        <input type="text" class="form-control text-capitalize" formControlName="addressLine1"
                            [ngClass]="{'is-invalid':registerForm.get('addressLine1').touched && registerForm.get('addressLine1').invalid}">
                        <span class="invalid-feedback alert alert-danger">
                            Field is required
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label class="font-weight-bold">Address Line 2</label>
                    <div class="form-group">
                        <input type="text" class="form-control text-capitalize" formControlName="addressLine2"
                            [ngClass]="{'is-invalid':registerForm.get('addressLine2').touched && registerForm.get('addressLine2').invalid}">
                        <span class="invalid-feedback alert alert-danger">
                            Field is required
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label class="font-weight-bold">City</label>
                    <div class="form-group">
                        <input type="text" class="form-control text-capitalize" formControlName="city"
                            [ngClass]="{'is-invalid':registerForm.get('city').touched && registerForm.get('city').invalid}">
                        <span class="invalid-feedback alert alert-danger">
                            Field is required
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="font-weight-bold">District</label>
                    <div class="form-group">
                        <select class="form-control" formControlName="district"
                            [ngClass]="{'is-invalid':registerForm.get('district').touched && registerForm.get('district').invalid}">
                            <option selected disabled value="">Select District</option>
                            <option *ngFor="let dist of allDistricts" value="{{dist.name}}">{{dist.name}}</option>
                        </select>
                        <span class="invalid-feedback alert alert-danger">
                            Field is required
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="font-weight-bold">Pin Code</label>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="pin" maxlength="6"
                            [ngClass]="{'is-invalid':registerForm.get('pin').touched && registerForm.get('pin').invalid}">
                        <span class="invalid-feedback alert alert-danger">
                            <span *ngIf="registerForm.get('pin').errors?.required">Field is required</span>
                            <span *ngIf="registerForm.get('pin').invalid && !registerForm.get('pin').errors?.required">
                                Invalid Pin Code</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="font-weight-bold">Aadhaar No.</label>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="aadhaarNo" maxlength="12"
                            [ngClass]="{'is-invalid':registerForm.get('aadhaarNo').touched && registerForm.get('aadhaarNo').invalid}">
                        <span class="invalid-feedback alert alert-danger">
                            <span *ngIf="registerForm.get('aadhaarNo').errors?.required">Field is required</span>
                            <span
                                *ngIf="registerForm.get('aadhaarNo').invalid && !registerForm.get('aadhaarNo').errors?.required">
                                Invalid Aadhaar No.</span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="font-weight-bold">PAN No.</label>
                    <div class="form-group">
                        <input type="text" class="form-control text-uppercase" formControlName="panNo" maxlength="10"
                            [ngClass]="{'is-invalid':registerForm.get('panNo').touched && registerForm.get('panNo').invalid}">
                        <span class="invalid-feedback alert alert-danger">
                            <span *ngIf="registerForm.get('panNo').errors?.required">Field is required</span>
                            <span
                                *ngIf="registerForm.get('panNo').invalid && !registerForm.get('panNo').errors?.required">
                                Invalid PAN No.</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-sm-4">
                    <label class="font-weight-bold"><strong>Passport Photo</strong></label>
                    <input type="file" id="files3" name="files" (input)="validatefile($event)">
                </div>
            </div>
        </form>
    </mat-dialog-content>
    <div mat-dialog-actions class="pb-4 pt-4 row justify-content-center">
        <button mat-button class="btn sling-btn" (click)="uploadPhoto()" [disabled]="!registerForm.valid">Add</button>
        <button mat-button class="btn sling-btn" (click)="close()" cdkFocusInitial>Close</button>
    </div>

    <div *ngIf="showSpinner">
        <app-spinner></app-spinner>
    </div>
</section>